@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Roboto+Mono:wght@400;500;600;700&family=Libre+Baskerville:wght@400;700&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --text-2xs: 0.625rem;
  --text-2xs--line-height: 1rem;
  --text-3xs: 0.5rem;
  --text-3xs--line-height: 0.75rem;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
  --font-mono: Roboto Mono, ui-monospace, monospace;
  --font-serif: Libre Baskerville, ui-serif, serif;
  --radius: 0.2rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: 0.025em;
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 0.2rem;
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.3211 0 0);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.3211 0 0);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.3211 0 0);
  --primary: oklch(0.6231 0.1880 259.8145);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9670 0.0029 264.5419);
  --secondary-foreground: oklch(0.4461 0.0263 256.8018);
  --muted: oklch(0.9846 0.0017 247.8389);
  --muted-foreground: oklch(0.5510 0.0234 264.3637);
  --accent: oklch(0.9514 0.0250 236.8242);
  --accent-foreground: oklch(0.3791 0.1378 265.5222);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9276 0.0058 264.5313);
  --input: oklch(0.9276 0.0058 264.5313);
  --ring: oklch(0.6231 0.1880 259.8145);
  --chart-1: oklch(0.6231 0.1880 259.8145);
  --chart-2: oklch(0.5461 0.2152 262.8809);
  --chart-3: oklch(0.4882 0.2172 264.3763);
  --chart-4: oklch(0.4244 0.1809 265.6377);
  --chart-5: oklch(0.3791 0.1378 265.5222);
  --sidebar: oklch(0.9846 0.0017 247.8389);
  --sidebar-foreground: oklch(0.3211 0 0);
  --sidebar-primary: oklch(0.6231 0.1880 259.8145);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9514 0.0250 236.8242);
  --sidebar-accent-foreground: oklch(0.3791 0.1378 265.5222);
  --sidebar-border: oklch(0.9276 0.0058 264.5313);
  --sidebar-ring: oklch(0.6231 0.1880 259.8145);
}

.dark {
  --background: oklch(0.2891 0 0);
  --foreground: oklch(0.9300 0.0035 247.8602);
  --card: oklch(0.2686 0 0);
  --card-foreground: oklch(0.9300 0.0035 247.8602);
  --popover: oklch(0.25 0 0);
  --popover-foreground: oklch(0.9300 0.0035 247.8602);
  --primary: oklch(0.3818 0.0603 233.7748);
  --primary-foreground: oklch(0.8914 0 0);
  --secondary: oklch(0.5692 0.0609 82.3871);
  --secondary-foreground: oklch(0.9300 0.0035 247.8602);
  --muted: oklch(0.2686 0 0);
  --muted-foreground: oklch(0.7593 0.0073 67.7161);
  --accent: oklch(0.5692 0.0609 82.3871);
  --accent-foreground: oklch(0.9300 0.0035 247.8602);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.3407 0 0);
  --input: oklch(0.3407 0 0);
  --ring: oklch(0.5204 0.0833 232.6334);
  --chart-1: oklch(0.4070 0.0419 229.9328);
  --chart-2: oklch(0.4844 0.0527 240.4588);
  --chart-3: oklch(0.6245 0.0623 229.6460);
  --chart-4: oklch(0.7246 0.0751 231.2743);
  --chart-5: oklch(0.8289 0.0885 234.0976);
  --sidebar: oklch(0.2686 0 0);
  --sidebar-foreground: oklch(0.9300 0.0035 247.8602);
  --sidebar-primary: oklch(0.3818 0.0603 233.7748);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.5692 0.0609 82.3871);
  --sidebar-accent-foreground: oklch(0.9300 0.0035 247.8602);
  --sidebar-border: oklch(0.3407 0 0);
  --sidebar-ring: oklch(0.5204 0.0833 232.6334);
}

.styled-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--muted-foreground) transparent;
}

.styled-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.styled-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.styled-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--muted-foreground);
  border-radius: 4px;
  opacity: 0.5;
}

.styled-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--foreground);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  html, body {
    @apply overflow-x-hidden;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}
